:root {
    --middle-blue: #8bb1e9;
    --bg-color: rgb(230, 236, 246);
    --elem-hover: #298cc6;
    --elem-active: #0958b2;
    --nav-bg: #221f1f;
    scrollbar-width: thin;
}

html {
    font-family: "Noto Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    background-color: white;
}

header {
    background-color: var(--nav-bg);
    margin-bottom: 40px;
}

section {
    margin: 0 0 40px 0;
}

h2, h1 {
    margin: 0 0 20px 20px;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 700;
    color:var(--nav-bg);
    text-align: left;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.block {
    display: block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background-video {
    right: 0;
    top: 0;
    opacity: 0.8;
    display: block;
    position:fixed;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    object-fit: fill;
    background-color: rgba(25, 145, 167, 0) !important;
}

.find-icon {
    border-radius: 15px;
}

.search-field {
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    padding: 7px 0;
    transition: .2s ease-in-out;
    color: #fff;
}

.search-field::placeholder {
    font-size: 14px;
    padding: 0 7px;
}

.search-field:hover {
    border-bottom-color: var(--elem-hover);
}

.search-field:active,
.search-field:focus {
    border-bottom-color: var(--elem-active);
}

.search-field:focus {
    outline: none;
}

.search-btn {
    border: 0;
    background: transparent;
    cursor: pointer;
    transform: translateY(45%);
}

.search-btn svg path {
    transition: .2s ease-in-out;
}

.search-btn:hover svg path {
    stroke: var(--elem-hover);
}

.search-btn:active svg path {
    stroke: var(--elem-active);
}

.find-icon path {
    stroke: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    position: relative;
}

.dd-content {
    position: absolute;
    left: 27%;
    top: 3.45%;
    background-color: #474545;
    color: white;
    overflow: hidden;
    max-height: 0px;
    transition: all .5s;
    display: none;
    z-index: 10;
}

.dd-content li {
    margin-bottom: 5px;
    padding: 20px;
}

.dd-content li:hover {
    background-color: #706f6f;
}

.dd-content li a {
    text-decoration: none;
    color: white;
}

.open {
    display: block;
    max-height: 500px;
    
}

.navbar nav {
    margin-left: auto;
    margin-right: auto;
}

.navbar form {
    margin-left: auto;
}

.navbar-links {
    padding-top: 4px;
    background-color: var(--nav-bg);
    color: white;
    border-radius: 10px;
    display: flex;
}

.navbar-links li {
    font-size: 20px;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 10px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.navbar-links li a {
    color: white;
    transition: .2s ease-in-out;
}

.navbar-links li:not(:last-child) {
    margin-right: 10px;
}

#login-dd {
    max-height: 0px;
}

#loginBtn {
    float: right;
    margin-left: 50px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#login-form {
    padding: 20px;
    background-color: #E6ECF6;
    border-radius: 10px;
}

.login-dd {
    position: absolute;
    right: 0%;
    top: 80%;
    transition: all .3s;
    z-index: 10;
    /* display: none; */
    cursor: default;
    opacity: 0;
}

.open-login {
    opacity: 1;
    cursor: pointer;
}

.login-label{
    display: block;
    margin-bottom: 10px;
}

#login-box input:not(:last-child) {
    outline: none;
    border: none;
    border-bottom: 2px solid var(--middle-blue);
    background-color: inherit;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

#login-box input:not(:last-child):focus {
    border-bottom: 2px solid var(--elem-active);
}

#login-box label {
    text-align: center;
}

.login-label:first-child {
    margin-top: 30px;
}

#login-submit-btn {
    display: flex;
    padding: 10px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: var(--middle-blue);
    border: none;
}

#login-submit-btn:hover {
    background-color: var(--elem-hover);
}

#login-submit-btn:active {
    background-color: var(--elem-active);
}

#code-submit-btn {
    display: flex;
    padding: 10px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: var(--middle-blue);
    border: none;
}

#code-submit-btn:hover {
    background-color: var(--elem-hover);
}

#code-submit-btn:active {
    background-color: var(--elem-active);
}

.navbar-links li:hover {
    background-color: #292626;
}

.navbar-links li:hover a {
    color: var(--elem-hover);
}

.navbar-links li:active a {
    color: var(--elem-active);
}

.about-info {
    font-size: 300;
    line-height: 1.5em;
    font-weight: 400;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--bg-color);

}

.deals-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    grid-row-gap: 15px;
    grid-auto-flow: column;
}

.deals-card {
    border: 1px black solid;
    height: 380px;
    margin: 0;
    border: 1px  black;
    text-align: left;
    border-radius: 10px;
    background-color: var(--bg-color);
}

.deals-card:hover:not(:last-child) {
    background-color: rgba(111, 207, 224, .4);
    background-image: url(../static/svg/buy.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center 340px;
    transition: background-color .1s ease-in-out;
}


.big-card {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    justify-content: stretch;
    background-image: linear-gradient(45deg, rgba(16, 63, 138, 0.76), rgba(208, 211, 168, 0.5)), url(../static/images/deals-more.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.deals-link {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    position: relative;
}

.big-card a {
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
    transition: .2s ease-in-out;
}

.big-card a:hover {
    color: #D9E3F2;
    color: var(--elem-hover);
}

.big-card a:active {
    color: var(--elem-active)
}

.big-card a svg path {
    transition: .2s ease-in-out;
}

.big-card a:hover svg path {
    fill: var(--elem-hover);;
}

.big-card a:active svg path {
    fill: var(--elem-active);;
}

.deals-card-info {
    padding: 30px;
    padding-top: 0;
    padding-bottom: 20px;
    color: black;
}

.oldprice {
    text-decoration: line-through;
    opacity: .5;
}

.deals-cards-songname {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: large;
}

.deals-cards-artistname {
    font-weight: 300;
    font-size: medium;
    margin-bottom: 10px;
}

.deals-cards-price {
    font-size: medium;
    font-weight: 400;
    margin-bottom: 10px;
}

.advs {
    justify-content: space-between;
}

.advs li {
    cursor:default;
    overflow: hidden;
    width: 260px;
    height: 320px;
    background: -webkit-linear-gradient(45deg, rgba(107, 1, 1, 0.61), rgba(25, 145, 167, 0.5));
    position: relative;
    padding: 10px;
    border-radius: 15px;
}

.advs li:first-child {
    background: -webkit-linear-gradient(45deg, rgba(134, 48, 33, 0.671), rgba(42, 210, 240, 0.384));
}

.advs li img {
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    transition: all .3s;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.advs li:hover img {
    transform: scale(1.2);
}

.adv-title {
    color: white;
    text-align: center;
    font-size: 400;
    font-size: 30px;
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}

.adv-text {
    color: white;
    font-size: 14px;
    text-align: center;
}

.contact-items {
    justify-content: space-between;
    background-color: #E6ECF6;
    border-radius: 15px;
    overflow: hidden;
}


.contact-items table {
    max-width: 40%;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.contact-items table th,
.contact-items table td {
    text-align: center;
}

.contact-items table tr {
    height: 5em;
}

.contact-items table th {
    text-align: center;
    padding: 0 30px;
}

.contact-items table tr {
    text-align: left;
    vertical-align: middle;
    line-height: 1.2em;
}

.contact-items img {
    max-width: 60%;
    width: 100%;
    height: 400px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

footer {
    width: 100%;
    background-color: var(--nav-bg);
    min-height: 200px;
}

#limited-offer-body {
    padding-top: 25px;
    padding-bottom: 10px;
    min-height: 100px;
    background-color: rgb(255, 84, 84);
}

.limited-offer-btn {
    cursor: pointer;
    padding: 20px;
    display: flex;
    margin: auto;
    background-color: var(--middle-blue);
    border: 0 none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 30px;
}

.limited-offer-btn:hover {
    background-color: var(--elem-hover);
}

.limited-offer-body-title {
    display: block;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    color: white;
}

.limited-offer-body-content {
    text-align: center;
    color: white;
}


.quiz {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    display: none;
    transition: display .2s;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

#question {
    font-size: 24px;
}

.qBtn {
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    background-color: white;
    color: var(--nav-bg);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    transition: all .3s ease-in-out;
}

.qBtn:hover {
    background-color: var(--middle-blue);
    color: white;
}

.nextBtn {
    width: 10%;
    padding: 10px;
    margin: 0 auto;
    background-color: var(--middle-blue);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.nextBtn:hover {
    background-color: rgb(47, 47, 248);
    color: white;
}

.correct {
    background-color: rgb(156, 248, 156);
}

.inactive {
    display: none;
}

#to-top-btn {
    position: fixed;
    top: 90%;
    left: 90%;
    cursor: pointer;
    border-radius: 50%;
    border-spacing: 0;
    border: none;
    display: none;
    background-color: var(--bg-color);
    transition: all .3s ease-in-out;
}

#to-top-btn:hover {
    background-color: var(--elem-hover);
}

#login-box {
    display: none;
    position: fixed;
    background-color: var(--nav-bg);
    color: white;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    top: 10%;
    left: 0px;
    right: 0px;
    z-index: 100;
    transition: all .3s ease-in-out;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.login-box-lbl {
    display: block;
}

.login-box-input {
    display: block;
}

#logib-box-log-btn {
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
    width: 400px;
    height: 400px;
    border: 2px solid black;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 78px;
    height: 78px;
    border: 0.5px solid gray;
}


#pieces {
    width: 1040px;
    height: 160px;
    border: 2px solid black;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#pieces img {
    width: 78px;
    height: 78px;
    border: 0.5px solid white;
}

#puzzle-hint {
    border-spacing: 0px;
    border: none;
    padding: 20px 30px;
    background-color: var(--middle-blue);
    color: white;
    cursor: pointer;
}

#puzzle-hint:hover {
    background-color: var(--elem-hover);
}

#puzzle-hint:focus {
    background-color: var(--elem-active);
}

#hint {
    position: fixed;
    z-index: 1000;
    display: none;
    top: 40px;
    left: 12%;
    border: 5px solid green;
}

footer .container {
    display: flex;
    align-items: center;

}

.footer-logo {
    margin-right: auto;
}

.footer-copyright {
    justify-self:flex-end;
    color: white;
}

@media screen and (max-width: 1200) {
    .search-btn {
        display: none;
    }

    .search-field {
        display: none;
    }

    .deals-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        grid-row-gap: 15px;
        grid-auto-flow: column;
    }
     
}

@media screen and (max-width: 768px) {
    .navbar {
        max-width: 768px;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .search-field {
        display: none;
    }

    .navbar nav {
        display: block;
        flex-direction: column;
    }

    .container {
        max-width: 768px;
    }

    .deals-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        grid-row-gap: 15px;
        grid-auto-flow: column;
    }

    .big-card {
        display: none;
    }

    .about-info {
        max-width: 100%;
    }

    .advs li {
        cursor:default;
        overflow: hidden;
        width: 260px;
        height: 320px;
        background: -webkit-linear-gradient(45deg, rgba(107, 1, 1, 0.61), rgba(25, 145, 167, 0.5));
        position: relative;
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 20px;
    }

    .advs {
        justify-content: space-evenly;
    }

    .contact-items img {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .navbar {
        max-width: 640px;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .navbar-links {
        width: 100%;
        flex-wrap: nowrap;
    }

    .container {
        max-width: 640px;
    }

    .deals-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        grid-row-gap: 15px;
        grid-auto-flow: column;
    }

    .about-info {
        max-width: 100%;
    }

    .advs li {
        cursor:default;
        overflow: hidden;
        width: 260px;
        height: 320px;
        background: -webkit-linear-gradient(45deg, rgba(107, 1, 1, 0.61), rgba(25, 145, 167, 0.5));
        position: relative;
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 20px;
    }

    .advs {
        flex-direction: column;
        justify-content: center;
    }

}